DemoCogsApp {
    #msg_dlg_layout {
        Button {
            width: 30;
            margin: 1;
            background: green;
        }
    }
    #file_dlg_layout {
        Button {
            width: 30;
            margin: 1;
            background: green;
        }
    }
    #choice_dlg_layout {
        Button {
            width: 30;
            margin: 1;
            background: green;
        }
    }
}

#tabbed {
    background: $primary-lighten-1 30%;
}